
@import"./contstants";
@import"./images";
@import"./portfoliogrid";



.testimonial{
  @include dimension__testimonial;
  background-color:$color-white;
  box-shadow:$border-shadow_testimonial;
  margin: $standard-margin;
  border-radius:$border-radius;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
       
  &___header{
    @include dimension__testimonial__header;
    box-sizing: border-box;
    padding:$padding-testimonial-header;
    text-align: left;
    line-height:$standard-line-height;
    font-size: $standard-fontsize;
  }
            
  &__footer{
    box-sizing: border-box;
    background:$color-testimonanial-footer;
    @include dimension__testimonial__footer;
    text-align: center;
    color:$color-white;
    font-size: $standard-fontsize;     
           
      h1{ 
        text-transform: uppercase;
        margin-top: $standard-margin;
        }
            
      p{
        margin-top: $standard-margin;
        opacity:$opacity;
        }
    
      a{
        text-decoration: none;
        color: $color-white;
        }
    }
  &__whenhover{
    background:$easin-dark-blue;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // @include flex-center;
    visibility:hidden;
    opacity:0;
    transition:$transistion;
    
    & button{
      height: $standard-heigt;
      font-weight: bold;
      }
  }    
.wrap{
  position: relative; 
}
}
.wrap:hover .testimonial__whenhover{
  visibility:visible;
  opacity:1;
}